{% extends 'main/base.html' %}

{% load photo_tags %}

{% block body %}
    <div class="container">
        <br>
        <div class="row" id="services">
            <div class="center col s12 m6 l6" style="justify-content: left;">
                <h5>Services 1</h5>
                <ul>
                    <li>service 1</li>
                    <li>service 2</li>
                    <li>service 3</li>
                    <li>service 4</li>
                    <li>service 5</li>
                    <li>service 6</li>
                </ul>
            </div>
            <div class="center col s12 m6 l6" style="justify-content: left;">
                <h5>Services 2</h5>
                <ul>
                    <li>service 1</li>
                    <li>service 2</li>
                    <li>service 3</li>
                    <li>service 4</li>
                    <li>service 5</li>
                    <li>service 6</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}